
@{
    ViewData["Title"] = "Index";
}

<section id="About">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p>
                        İstifadəçi sistemdə qeydiyyatdan keçməklə, şəxsi məlumatlarını tələb olunan qaydada qeyd etməlidir.
                        İstifadəçi qeydiyyatdan keçmək üçün daxil etdiyi məlumatların doğruluğuna görə məsuliyyət daşıyır.
                        Sonradan qeyd olunmuş məlumatlarda dəyişikliklər olarsa, bununla bağlı sistemə məlumatların yenilənməsi üçün bildiriş göndərmək istifadəçinin öhdəliyidir.
                        Qadağan olunmuş məhsullar sifariş verilərsə, xidmət həmin istifadəçi üçün bloklana bilər.
                        Sistemin tələb etdiyi qaydada ödəmə etmək istifadəçinin öhdəliyidir.
                        Öz şifrə və məlumatlarını digər şəxslərlə paylaşmamalıdır. Belə hallar baş verərsə borclanmaya və sifarişin statusunun dəyişməsinə görə, şəxs özü cavabdehdir.
                        İstifadəçi ay ərzində dəyəri 300 ( üç yüz ) ABŞ dolları (Daşınma xərci daxil) məbləğinədək əşya sifariş etdikdə, istifadəçidən gömrük rüsumu tutulmur.
                        Gömrük dəyəri bir ay ərzində 300 (üç yüz) ABŞ dolları məbləğindən artıq olarsa, İstifadəçi limiti keçən miqdarın 36%-i (otuz altı faiz) miqdarında gömrük orqanlarına gömrük rüsumu ödəmək öhdəliyini öz üzərinə götürür.
                        Daşıyıcı bütün sifarişlərin daşımasını həyata keçirərkən yalnız 300 ABŞ dollarınadək sifariş olduqda gömrük sənədləşmələrini öz üzərinə götürür. Dəyəri daha yüksək məbləğdə sifariş verilərsə, daşıyıcı malı Gömrük terminalınadək gətirməyi, istifadəçi isə digər sənədləşmə və malın terminaldan təhvil götürülməsini öz üzərinə götürür.
                        Qeyri-etik davranışlar sərgiləyən, əməkdaşlara qarşı açıq hörmətsizlik edən, xidmətdən yararlanarkən Azərbaycan qanunvericiliyinə zidd şəkildə davranan sifarişçinin hesabı məhdudlaşdırılır və ona bir daha xidmət göstərilmir. Sifarişçi qəbul edilmiş qaydalara uyğun davranmadığı halda onunla əməkdaşlığın dayandırılacağını qəbul edir.
                        Daşınan bağlamanın çatdırılma üçün xidmət haqqı iki meyar üzrə, çəki və həcmə görə hesablanır. İstifadəçi bu meyarlar üzrə hesablanmış daşıma haqqının daha çox olanı üzrə ödəniş aparmalıdır.
                        İstifadəçi bağlamalarını "Limak" ofisini tərk etmədən yoxlamalı, hər hansı bir zədə və ya çatışmazlıq olduğu təqdirdə şirkəti məlumatlandırmalıdır. Əks təqdirdə zədələnmiş bağlamalara görə şirkət məsuliyyət daşımır!
                        Sına biləcək əşyalar daşınma öncəsi sığortalanmır. Bu kimi məhsullar göndərici (satıcı) tərəfindən xəsarət almayacaq şəkildə qablaşdırılmalıdır. Daşınma zamanı yaranmış hər hansı bir problemə görə şirkət məsuliyyət daşımır!
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

