@model Cargos
@{
    ViewData["Title"] = "CameCargos";
}

<form method="post" asp-action="CameCargos">
    <div class="container">
        <h1>Məhsul Əlavə Et</h1>


        <div asp-validation-summary="All" class="text-danger"></div>

        <span class="text-danger" asp-validation-for="Id"></span>

        <input placeholder="Məhsulun Nömrəsini Əlavə Edin" name="orderId" required>



        <button type="submit" class="registerbtn">Məhsul Əlavə Edin</button>
    </div>


</form>
