@model Cargos
@{
    ViewData["Title"] = "CameCargos";
}

<form method="post">
    <div class="container">
        <h1>Create Category</h1>


        <div asp-validation-summary="All" class="text-danger"></div>

        <span class="text-danger" asp-validation-for="Id"></span>

        <input placeholder="Write Category Name" name="orderId" required>



        <button type="submit" class="registerbtn">Add Category</button>
    </div>


</form>
