
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Document</title>
</head>
<body>
    <section id="User">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex about justify-content-between align-item-center ">
                        <h1 class="">Əlaqə</h1>
                        <p class="mt-5 mr-5"><a href="#">Ana Sehife</a>/Əlaqə</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Contact" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <h2>İçərişəhər filialı</h2>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p>  office@runex.az</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p> 012 525 38 83</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p>
                            Səbail rayonu ,Bünyat
                            Sərdərov küç,8
                            (İçərişəhər m/s
                            yaxınlığı, Axundov bağının yanı)
                        </p>
                    </div>
                    <div class="mt-3 text-center">
                        <h4>Çalışma saatları</h4>
                        <p>
                            Bazar ertəsi - Cümə
                            10:00-dan 20:00-a dək
                            Şənbə: 11:00-dan 16:00-a dək
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h2>Həzi aslanov filialı</h2>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p>   office@runex.az</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p> 012 525 38 83</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p>
                            Xətai rayonu Xudu
                            Məmmədov 18
                            (Həzi Aslanov m/s
                            yaxınlığı, TikMak binaları)
                        </p>
                    </div>
                    <div class="mt-3 text-center">
                        <h4>Çalışma saatları</h4>
                        <p>
                            Bazar ertəsi - Cümə
                            10:00-dan 20:00-a dək
                            Şənbə: 11:00-dan 16:00-a dək
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="Picture">
                        <img src="~/assets/img/call-center.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.84263735113!2d49.82787801461809!3d40.368013479370795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc8313aeabf%3A0x35e67ae03c1e83e5!2s1000%20Mammad%20Afandiyev%2C%20Baku%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1647626223331!5m2!1sen!2s" style="border:0; width: 100%; height: 50vh;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/d9fd6f15f2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>
