
@{
    ViewData["Title"] = "Index";
}

@model List<Cargos>



@{
    ViewData["Title"] = "Orders";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <title>Document</title>
</head>
<body>

    <section id="User">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex about justify-content-between align-item-center ">
                    <h1 class="">Tarifler</h1>
                    <p class="mt-5 mr-5"><a href="#">Ana Sehife</a>/Şəxsi məlumatlar</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Tarifler">
        <div class="container mt-5">

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <h2 class="text-uppercase">Tarifler</h2>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="Mycard">
                        <div class="firstsection">
                            <div class="d-flex justify-content-center mt-">
                                <h3 class="text-uppercase">STANDART VƏ MAYE</h3>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p>Bakı və Sumqayıt şəhərləri üzrə</p>
                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <p>0 - 100qr</p>
                                <p class="text-bold">0,90$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>101qr - 250qr</p>
                                <p class="text-bold">1,70$</p>
                            </div>

                        </div>
                        <div class="foursection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>251qr - 500qr</p>
                                <p class="text-bold">2,70$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>501qr - 1kg</p>
                                <p class="text-bold">3,60$</p>
                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>1kg üzərində</p>

                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-center align-item-center">
                                <span class="price text-bold">x3.60$</span>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Mycard">
                        <div class="firstsection">
                            <div class="d-flex justify-content-center mt-">
                                <h3 class="text-uppercase">STANDART VƏ MAYE</h3>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p>Gəncə, Mingəçevir və Lənkəran ş. üzrə</p>
                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <p>0 - 100qr</p>
                                <p class="text-bold">0,90$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>101qr - 250qr</p>
                                <p class="text-bold">1,70$</p>
                            </div>

                        </div>
                        <div class="foursection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>251qr - 500qr</p>
                                <p class="text-bold">2,70$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>501qr - 1kg</p>
                                <p class="text-bold">3,60$</p>
                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>1kg üzərində</p>

                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-center align-item-center">
                                <span class="price text-bold">x3.60$</span>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Mycard">
                        <div class="firstsection">
                            <div class="d-flex justify-content-center mt-">
                                <h3 class="text-uppercase text-center">HƏCMSƏL MƏHSULLAR ÜZRƏ</h3>
                            </div>

                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <p>0 - 100qr</p>
                                <p class="text-bold">0,90$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>101qr - 250qr</p>
                                <p class="text-bold">1,70$</p>
                            </div>

                        </div>
                        <div class="foursection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>251qr - 500qr</p>
                                <p class="text-bold">2,70$</p>
                            </div>

                        </div>
                        <div class="thirdsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>501qr - 1kg</p>
                                <p class="text-bold">3,60$</p>
                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-between align-item-center">
                                <p>1kg üzərində</p>

                            </div>
                        </div>
                        <div class="secondsection mt-2">
                            <div class="d-flex justify-content-center align-item-center">
                                <span class="price text-bold">x3.60$</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>



