
@{
    ViewData["Title"] = "Index";
}

<section id="About">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div>
                    <p>
                        "Limak AZ" MMC məsuliyyət daşıyır!

                        "Limak AZ" MMC istifadəçilərin şirkətə təqdim etdikləri şəxsi məlumatların qorunmasına zəmanət verir.



                        Şirkət şəxsi məlumatların qorunması üçün təhlükəsizliyin təmin edilməsinə, bununla bağlı bütün texniki tədbirlərin görülməsinə görə öhdəlik daşıyır.



                        Şirkət istifadəçinin şəxsi məlumatlarını onun icazəsi olmadan üçüncü tərəfə təqdim etməyəcəyinə dair öhdəlik götürür.



                        Bu məlumatlardan "Limak AZ" MMC-nin eyni istifadəçiyə yönəldiyi təbliğat-təşviqat, reklam xarakterli məlumatlarda istifadə oluna bilər.



                        Eyni zamanda şəxsi məlumatlar istifadəçi ilə yaranmış hüquqi problemin həllində məhkəmə qərarı ilə açıqlana bilər.



                        "Limak AZ" MMC istifadəçinin məxfi kart məlumatlarına malik deyil, onlari özündə saxlamır
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

